*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* #region Header */
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    padding: 20px;
    background-color: orange;
}

.content-img{
    display: flex;
    justify-content: center;
    .logo-hd{
        max-width:20%;
    }
}
/* #endregion Header */

/* #region box-section */

.box-section{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 4rem;
}

.box{
    background-color: yellow;
    display: flex;
    box-shadow: 3px 3px 3px 3px black;
    
}

.img-dbg{
    max-width: 100%;
    justify-content: center;
}