*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* #region Header */
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    padding: 20px;
    background-color: orange;
}

.content-img{
    display: flex;
    justify-content: center;
    .logo-hd{
        max-width:20%;
    }
}
/* #endregion Header */

/* #region box-section */

main{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.prducts{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin: 0 auto;
    -ms-flex-align: center;
}

.product{
    padding: 20px;
    text-align: center;
    width: 90%%;
}

.product img{
    max-width: 20%;
    border-radius: 5px;
}

.product h3{

    font-size: 18px;
}

.product p{
    color: #555;
}

.price{
    font-weight: bold;
}
.old-price{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}